DATABASE_URL="postgres://c380ca32f0adc91ffdfe3f4fb96ba3d4c593bf245c69991242f08a3e743d4fd6:sk_po9_i0clhm0hTXb6bcTIV@db.prisma.io:5432/postgres?sslmode=require"
ADMIN_USERNAME="Miguel"
ADMIN_PASSWORD="C27bd8C13@"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
# Optional later:
# STRIPE_SECRET_KEY="sk_test_..."
# STRIPE_WEBHOOK_SECRET="whsec_..."
